<!doctype html>
<html>
    
<head>
 <title>Add Notes </title> 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">

</head>


<body style=" background:  #bfd7ef; color:#1f3b57">



    {% from 'macros.html' import navbar %}
    {{navbar() }}

    <h2 style="text-align:left; 
    margin-top:10%; margin-left:1%;"> Your Tasks </h2>
     <div style=" margin: auto; text-align:center;align-items: center;position:absolute;
    top:20%; width:100%">
    <form class="pure-form">
        <div>
        <fieldset class="pure-input-rounded">
            <input type="text" class="pure-input-1-2" style="width: 100%;
            height: 30px;" placeholder="Search Task" name="tasksearch" maxlength="70" />  
        </fieldset>
        <div style="margin-left:1%;">
        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary" style="width:100%;">Search</button>
        </div>
    </div>
</form>	
</body>
 </div>


<div style="margin-top:5%; margin-left:5%; width: 80%; ">
 {% for todo in todo_list %}
 {% if todo.iscomplete %}


 <div style=" position:relative; background-color: whitesmoke;border: 1px solid blue; padding:30px;"> <h2> {{todo.task}}</h2>
    <div style="position:absolute; left:90%;top:10%; background: rgb(104, 255, 45); color: white;"> Done !   </div>
    <a style="display: inline-block;" class='blu-button' style='width:7%; ' href="/update/{{todo.noteid }}" > Update</a>
    <a style="display: inline-block;" class='red-button' style='width:7%; ' href="/delete/{{todo.noteid }}" > Delete</a>


</div><br>

{% else %}


<div style=" position:relative; background-color: whitesmoke;border: 1px solid blue; padding:30px;"> <h2> {{todo.task}}</h2>
    <div style="position:absolute; left:90%;top:10%; background: rgb(249, 148, 15); padding: 5px; color: white;"> Pending !  </div>
    
    
        <a style="display: inline-block;" class='blu-button' style='width:7%; ' href="/update/{{todo.noteid }}" > Update</a>
        <a style="display: inline-block;" class='red-button' style='width:7%; ' href="/delete/{{todo.noteid }}" > Delete</a>


    </div><br>
{% endif %}


{% endfor %}
</div>
 
</html>
